/* START border-box fix */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* END border-box fix */


.ball {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-image: radial-gradient(
        farthest-corner at 2vw 2vw,
        #0d0c64 0%,
        #8f8ee4 100%
      );
    position: relative;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  
  .background {
    width: 63vw;
    height: 3.5vw;
    display: flex;
    justify-content: center;
  }
  
  @keyframes bounce {
    from {
      top: 2vw;
    }
    to {
      top: 0vw;
    }
  }



body {
    color: #28282B;
    background-color: #FAF9F6;
    margin: 3vw 7vw 2vw 7vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {

    background-color: #f77023;
    border-radius: 2vw;
    padding: 0.5vw 2vw 0.5vw 2vw;
    margin-left: 30vw;
    margin-right: 30vw;
    text-align: center;
    margin-bottom: 3vw;
    display: flex;
    /* (1) */
    justify-content: space-between;
    /* (2) or space-around or space-evenly */

}

nav a {
    font-size: 1vw;
    color: #FAF9F6;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: greenyellow;
}

main {
    background-color: #FAF9F6;
}

main h1 {
    color: #0d0c64;
    margin-top: 5vw;
    text-align: center;
    font-size: 3vw;
}

header img {
    width: 5vw;
    display: block;
    margin: auto;
    margin-bottom: 2vw;
}

.pet-grid {
    display: grid;
    /* background-color: white; */
    grid-template-columns: auto auto auto;
    padding-bottom: 6vw;

}

.pet-grid img {
    border-radius: 1.5vw;
    display: block;
    margin: auto;
    width: 22vw;
}

.pet-grid>article {
    border-style: outset;
    border-radius: 2vw;
    margin: 0.5vw;
    background-color: rgb(241, 241, 241);
    padding: 2vw;
    text-align: left;
}

.pet-grid p {
    font-size: 1vw;
}

.pet-grid h2 {
    font-size: 2vw;
}

.pet-grid a {
    color: #0d0c64;
    text-decoration: none;
}

.pet-grid a:hover {
    color: #f77023;
    /* text-decoration: underline; */
}

.pet-grid img:hover {
    filter: brightness(75%);
}

.two-columns-grid {

    color: #f1f1f1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* columns */
.two-columns-grid>* {
    padding: 1rem;
}

.grid-1 {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;

    border-radius: 2vw;
    padding-left: 7vw;
    padding-right: 4vw;

    text-align: left;
    background-color: #0d0c64;

    font-size: 5vw;
    line-height: 1.25;
}

.grid-2 {
    background-image: url(images/cafe_window.webp);
    background-size: 35vw;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-2 img {
    display: block;
    margin: auto;
    border-radius: 2vw;
    width: 32.75vw;
}

/* ------------------------------------------------------ */

.wrapper .flex-container {
    /* display: flex; */
    display: inline-flex;
}

.wrapper nav {
    background-color: #f77023;
    border-radius: 2vw;
    padding: 0.5vw 2vw 0.5vw 2vw;

    margin-left: 30vw;
    margin-right: 30vw;
    text-align: center;
    margin-bottom: 2vw;
    display: flex;
    /* (1) */
    justify-content: space-between;
    /* (2) or space-around or space-evenly */

}

.wrapper nav a {
    font-size: 1vw;
    color: #FAF9F6;
    text-decoration: none;
}

.wrapper nav a:hover {
    text-decoration: underline;
}

.wrapper a {
    text-decoration: none;
    color: #0d0c64;
    font-size: 0.75vw;
}

.wrapper .left-aside a:hover {
    color: #f77023;
}

.wrapper .right-aside a:hover {
    color: #f77023;
}

.flex-container {
    display: flex;
    /* Use flexbox */
    width: 100%;
    /* Ensures it stretches across the entire width */
    box-sizing: border-box;
    /* Prevents padding from affecting width */
}

.left-aside {
    flex: 1 1 0;
}

.right-aside {
    text-align: right;
    flex: 1 1 0;
}

.flex-container main {
    flex: 6 1 0;
    /* Increase flex-grow to give main more space */
}

.flex-container h1 {
    font-size: 3vw;
    color: #0d0c64;

    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
}

.flex-container main p {
    font-size: 0.75vw;
}

.flex-container main a {
    color: #f77023;
}

.flex-container main a:hover {
    text-decoration: underline;
}

.flex-container section p {
    font-size: 1vw;
}

.flex-container section a {
    font-size: 1vw;
}

.two-column-bio {
    color: #28282B;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* columns */
.two-column-bio>* {
    padding: 1rem;
    margin-right: 2vw;
}

.two-column-bio .bio-1 img {
    border-radius: 2vw;
    width: 30vw;
}

.two-column-bio .bio-2 h2 {
    font-size: 1.75vw;
}

.two-column-bio .bio-2 h3 {
    font-size: 1.25vw;
}

.two-column-bio .bio-2 p {
    font-size: 1vw;
}

.two-column-bio .bio-2 li {
    font-size: 1vw;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animations/Using_CSS_animations */

.bio-2 {
    animation-duration: 1.5s;
    animation-name: slide-in;
}

@keyframes slide-in {
    from {
        translate: 150vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

.food-grid {

    display: grid;
    /* background-color: white; */
    grid-template-columns: auto auto auto auto;
    padding-bottom: 6vw;

}

.food-grid img {
    border-radius: 1.5vw;
    display: block;
    margin: auto;
    width: 16.5vw;
}

.food-grid>article {
    border-style: outset;
    border-radius: 2vw;
    margin: 0.5vw;
    background-color: rgb(241, 241, 241);
    padding: 2vw;
    text-align: left;
}

.food-grid p {
    font-size: 1vw;
}

.food-grid h3 {
    font-size: 1.5vw;
}

.food-grid h4 {
    font-size: 1vw;
}

button {
    color: #0d0c64;
    border-color: #0d0c64;
    border-radius: 1vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-width: 0.1vw;
    font-size: 0.75vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    background-color: #f77023;
    color: #FAF9F6;
    border-color: #FAF9F6;
}

footer {
    margin: 0 -7vw -7vw -7vw;
    color: #FAF9F6;
    background-color: #0d0c64;
}

footer p {
    font-size: 1.25vw;
}

footer a {
    text-decoration: none;
    color: #FAF9F6;
    font-size: 1vw;
}

footer a:hover {
    color: #f77023;
    font-size: 1vw;
}


.wrapper footer {
    margin: 0 -7vw -7vw -7vw;
    color: #FAF9F6;
    background-color: #0d0c64;
}

.wrapper footer p {
    font-size: 1.25vw;
}

.wrapper footer a {
    color: #FAF9F6;
    font-size: 1vw;
}

.wrapper footer a:hover {
    color: #f77023;
    font-size: 1vw;
}



/* container */
.three-columns-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


/* columns */
.three-columns-grid>* {
    padding: 1rem;
}

.three-columns-grid div {
    margin: 2vw 6vw 2vw 6vw;
}

.about p {
    font-size: 1vw;
}

.about h2 {
    font-size: 1.5vw;
}

.about {
    margin: 0 18vw 10vw 18vw;
}

.about img {
    
    display: block;
    margin: auto;
    width: 30vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.sign-in {

    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
}

.sign-off {
    text-align: right;
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
}

.time {
    align-items: center;
}

.time h2 {
    color: #0d0c64;
}


table,
th,
td {
    font-size: 1vw;
    border: 1px solid #000000;
    border-collapse: collapse;
}

th,
td {
    padding: 1vw;
    text-align: left;
}


th {
    background-color: #f77023;
    color: white;
}
